<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row *ngFor="let i of [1,2,3,4]">
      <ion-col width-25 *ngFor="let x of data"><img src="{{x}}" alt="">
        <div>          
          <button ion-button>Edit</button>          
        </div>
      </ion-col>      
    </ion-row>
    <ion-row>
      <div>
        <h1>testing area for file handling</h1>
        <span>{{fileTest}}</span>
        <span>{{test}}</span>
      </div>
    </ion-row>
  </ion-grid>

</ion-content>
